
// .container {
// 	view,
// 	text,
// 	image {
// 		box-sizing: border-box;
// 	}

	scroll-view {
		width: 100%;
		white-space: nowrap;
		height: 115rpx;
		background-color: var(--theme);
		position: relative;
		padding-top: 10rpx;
		&::after {
			background: #e5e5e5;
			content: '';
			display: block;
			width: 100%;
			height: 2rpx;
			position: absolute;
			bottom: 0;
			left: 0;
			transform: scaleY(0.5);

		}

		.flex-box {
			display: inline-block;
			width: 25%;
			margin: 0 7rpx 0 7rpx;
			box-sizing: border-box;

			&.active {
				.date-box {
					border: none;

					.days {
						font-weight: bold;
						color: #818181;
					}

					.date {
						font-weight: bold;
						color: #818181;
					}
				}
			}

			.date-box {
				border: none;
				display: flex;
				// height: 50rpx;
				flex-direction: column;
				align-items: center;
				justify-content: space-around;
				font-size: 30rpx;
				color: rgba(129, 129, 129, 1);

				.date {
					font-weight: bold;
					color: #818181;
					font-size: 30rpx;

				}
			}
		}

	}
// }

.time-box {
	padding: 28rpx 12rpx 26rpx;
	display: flex;
	flex-wrap: wrap;
	// margin-top:10rpx;
	background-color: var(--theme);

	.item {
		width: 25%;
		padding: 0 9rpx;
		margin: 10rpx 0;
		box-sizing: border-box;


		&-box {
			width: 100%;
			height: 154rpx;
			background: var(--theme);
			color: #333;
			border: 2rpx solid #EEEEEE;
			font-size: 28rpx;
			border-radius: 10rpx;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			box-sizing: border-box;

			&.disable {
				background: #F1F3F6 !important;
				color: #999 !important;
			}

			&.active {
				border: 2rpx solid #FB5D6B;
				font-weight: bold;
			}

			.all {
				font-size: 22rpx;
				padding-top: 5rpx;
			}
		}
	}
}